{% load static %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Home</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="detailcss/detailstyles.css" rel="stylesheet" />
    </head>
    <body>


        
        {% comment %} <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
        </footer>
       <!-- Bootstrap core JS-->
        <script src="bootstrap/dist/js/bootstrap.bundle.min.js"></script>!-- Core theme JS-->
        <script src="detailjs/detailscripts.js"></script> {% endcomment %}
    </body>
</html>
